.container {
    width:900px;
    margin: 100px;
}
.item-purchase-container {
    width: 500px;
    height: 400px;
    background-color:#FFF;
    float: left;
    margin-top: 50px;
}
.payment-container {
    width: 400px;
    height:500px;
    background-color: $grey;
    float: left;
}
.payment-types {
    text-align: center;
    font-size:  2rem;
}
.expire-cvv-inputs {
    display: block;
}
