.bill-amount {
    display: block;
    margin-left: 50px;
    padding-top: 30px;
    font-weight: 700;
}
#bill-total {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
}
