.service-quality {
    font-weight: 700;
}
.service-quality {
    font-weight: 700;
}
.service-quality-container i {
    font-size: 6rem;
    margin: 0 35px;
    line-height: 160px;
    cursor: pointer;
}
.service-quality-container i:hover {
    color: $secondColor;
}
