.total {
    margin-left: 30px;
    padding-bottom: 20px;
}
.tip-per-person {
    font-weight: 700;
}
.tip-total-container span {
    font-size: 1.2rem;
    display: block;
    margin-left: 30px;
}

#total-without-tip, #total-tip, #total-with-tip {
    margin-right: 50px;
    float:right;
    font-weight: 400;
}
#total-tip-per-person {
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 5px;
    font-weight: 400;
}
